h1{
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: rgb(141, 18, 18);
}
hr{
    text-align: center;
    width: 100%;
    font-size: 6px;
    text-decoration: none;
    height: 2px;
    background-color: rgb(124, 120, 120);
}
h2{
    text-align: center;
}